export DATASTORE_NAMESPACE="develop"
export GOOGLE_APPLICATION_CREDENTIALS="C:\Users\mendo\Desktop\workspace\helpay\helpay-0320-fc8bd08d5a7a.json"
export LOGGING_CONF_PATH="./backend/log/logging.conf"
